---
import Badge from "@components/shared/Badge.astro";
import { TEACHERS } from "@data/teachers";
import type { BadgeType } from "@interfaces/Badge";
import type { Teacher, TeacherDepartment } from "@interfaces/teachers";
import MainLayout from "@layouts/MainLayout.astro";

const teachers: Teacher[] = TEACHERS;

const categoryMap: Record<TeacherDepartment, BadgeType> = {
  Sistemas: "success",
  Electronica: "primary",
  Industrial: "warning",
  Matematicas: "danger",
  Ciencias: "secondary"
};
---

<MainLayout>
  <table class="table table-striped border">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
        <th scope="col">Email</th>
        <th scope="col">Departamento</th>
      </tr>
    </thead>

    <tbody>
      {teachers.map((teacher) => (
        <tr>
          <th scope="row">{teacher.id}</th>
          <td>{teacher.name}</td>
          <td>{teacher.lastName}</td>
          <td>{teacher.age}</td>
          <td>{teacher.email}</td>
          <td>
            <Badge
              text={teacher.department}
              type={categoryMap[teacher.department]}
            />
          </td>
        </tr>
      ))}
    </tbody>
  </table>
</MainLayout>